In [28]:
import pandas as pd
import numpy as np
import openpyxl

In [29]:
df = pd.read_csv("Manual_Log.csv", sep = ";", error_bad_lines=False)
df

,Time,Server,Message_type,CPU Usage,Memory Usage,Transaction_ID,To_Server,Message
0,0.464448,Client,INFO,0.000,0.000,1,A,Request from customer Transaction ID: 1
1,0.759124,Client,INFO,0.000,0.000,2,A,Request from customer Transaction ID: 2
2,1.302570,A,INFO,0.026,0.896,1,B,Send Authentication request to server B Transa...
3,1.613766,A,INFO,0.031,0.151,2,B,Send Authentication request to server B Transa...
4,3.144930,Client,INFO,0.000,0.000,3,A,Request from customer Transaction ID: 3
...,...,...,...,...,...,...,...,...
59995,49344.122500,A,INFO,0.173,0.184,10000,Client,Balance to client to server Client Transaction...
59996,49345.774700,A,INFO,0.834,0.711,9999,Client,Balance to client to server Client Transaction...
59997,49351.393770,A,INFO,0.179,0.111,9998,C,Request Balance to server C Transaction ID: 99...
59998,49356.545790,C,INFO,0.371,0.412,9998,A,Return Balance to server A Transaction ID: 999...
59999,49356.615880,A,INFO,0.733,0.980,9998,Client,Balance to client to server Client Transaction...

In [30]:
# Split dataframe into three dataframes based on Server
df = df.drop(['Message_type', 'Transaction_ID','To_Server', 'Message'], axis=1)
df

               Time  Server  CPU Usage  Memory Usage
0          0.464448  Client      0.000         0.000
1          0.759124  Client      0.000         0.000
2          1.302570       A      0.026         0.896
3          1.613766       A      0.031         0.151
4          3.144930  Client      0.000         0.000
...             ...     ...        ...           ...
59995  49344.122500       A      0.173         0.184
59996  49345.774700       A      0.834         0.711
59997  49351.393770       A      0.179         0.111
59998  49356.545790       C      0.371         0.412
59999  49356.615880       A      0.733         0.980

[60000 rows x 4 columns]

In [31]:
df = df.reset_index()
df = df.drop(['index'], axis=1)
df

               Time  Server  CPU Usage  Memory Usage
0          0.464448  Client      0.000         0.000
1          0.759124  Client      0.000         0.000
2          1.302570       A      0.026         0.896
3          1.613766       A      0.031         0.151
4          3.144930  Client      0.000         0.000
...             ...     ...        ...           ...
59995  49344.122500       A      0.173         0.184
59996  49345.774700       A      0.834         0.711
59997  49351.393770       A      0.179         0.111
59998  49356.545790       C      0.371         0.412
59999  49356.615880       A      0.733         0.980

[60000 rows x 4 columns]

In [32]:
df["Time"]=df["Time"].div(60)

In [33]:
df["Time_floor"] = np.floor(df["Time"]).astype("int")
df.tail()

             Time Server  CPU Usage  Memory Usage  Time_floor
59995  822.402042      A      0.173         0.184         822
59996  822.429578      A      0.834         0.711         822
59997  822.523230      A      0.179         0.111         822
59998  822.609096      C      0.371         0.412         822
59999  822.610265      A      0.733         0.980         822

In [34]:
df = df.groupby(['Server','Time_floor'], as_index=False).mean()
df

      Server  Time_floor        Time  CPU Usage  Memory Usage
0          A           0    0.413186   0.454487      0.493897
1          A           1    1.588563   0.486537      0.424683
2          A           2    2.455891   0.537163      0.434209
3          A           3    3.519864   0.520069      0.497034
4          A           4    4.431906   0.458788      0.495404
...      ...         ...         ...        ...           ...
3287  Client         818  818.686123   0.000000      0.000000
3288  Client         819  819.506173   0.000000      0.000000
3289  Client         820  820.299402   0.000000      0.000000
3290  Client         821  821.445251   0.000000      0.000000
3291  Client         822  822.281102   0.000000      0.000000

[3292 rows x 5 columns]

In [35]:
df = df.drop(['Time'], axis=1)

In [36]:
df_final.head(20)

   Server  Time_floor  CPU Usage  Memory Usage
0       A           0   0.454487      0.493897
1       A           1   0.486537      0.424683
2       A           2   0.537163      0.434209
3       A           3   0.520069      0.497034
4       A           4   0.458788      0.495404
5       A           5   0.498604      0.505979
6       A           6   0.451667      0.547400
7       A           7   0.522600      0.450167
8       A           8   0.558875      0.517062
9       A           9   0.604913      0.454217
10      A          10   0.490206      0.519441
11      A          11   0.584262      0.447167
12      A          12   0.487569      0.433276
13      A          13   0.514889      0.505000
14      A          14   0.522211      0.502237
15      A          15   0.448000      0.516389
16      A          16   0.554304      0.491565
17      A          17   0.586729      0.461814
18      A          18   0.465250      0.483469
19      A          19   0.576541      0.516432

In [37]:
df_melt = pd.melt(df_final, id_vars = ["Server", "Time_floor"], value_vars = ["CPU Usage","Memory Usage"], value_name = "Value")

In [38]:
df_melt = df_melt.sort_values(by=["Server", "Time_floor"])

In [39]:
df_melt.head(20)

     Server  Time_floor      variable     Value
0         A           0     CPU Usage  0.454487
3292      A           0  Memory Usage  0.493897
1         A           1     CPU Usage  0.486537
3293      A           1  Memory Usage  0.424683
2         A           2     CPU Usage  0.537163
3294      A           2  Memory Usage  0.434209
3         A           3     CPU Usage  0.520069
3295      A           3  Memory Usage  0.497034
4         A           4     CPU Usage  0.458788
3296      A           4  Memory Usage  0.495404
5         A           5     CPU Usage  0.498604
3297      A           5  Memory Usage  0.505979
6         A           6     CPU Usage  0.451667
3298      A           6  Memory Usage  0.547400
7         A           7     CPU Usage  0.522600
3299      A           7  Memory Usage  0.450167
8         A           8     CPU Usage  0.558875
3300      A           8  Memory Usage  0.517062
9         A           9     CPU Usage  0.604913
3301      A           9  Memory Usage  0.454217

In [40]:
df_melt.to_csv("Manual_Log_Filtered.csv")
df_melt.to_excel("Manual_Log_Filtered.xlsx")

In [ ]:
822*4