In [10]:
import pandas as pd
import numpy as np
import openpyxl

In [11]:
df = pd.read_csv("log_0003_2020-01-23_16-08.csv", sep = ";", error_bad_lines=False)
df.head(10)

,Time,Server,Message_type,CPU Usage,Memory Usage,Latency,Transaction_ID,To_Server,Message
0,0.0000,client,INFO,0.000,0.0000,0.000000,c0df77af-17f2-4ca6-b504-77bc448a2ab7,balance#8e3e4040-d790-4c0a-a029-0b7d5b6f7247,Requesting balance by client
1,0.0000,client,INFO,0.000,0.0000,0.000000,c905d4a1-7315-41ba-bbda-c24e67eb6bde,payment#b9d0ce6f-661a-4d55-896a-fd3e92a0a8d8,Requesting payment by client
2,0.0000,payment#b9d0ce6f-661a-4d55-896a-fd3e92a0a8d8,INFO,0.000,0.0000,0.000000,e89b2f4f-c265-48c6-82d7-018fa2053db8,balance#8e3e4040-d790-4c0a-a029-0b7d5b6f7247,Requesting balance by payment
3,0.0010,balance#8e3e4040-d790-4c0a-a029-0b7d5b6f7247,INFO,0.000,0.0000,0.000000,64c79e93-c83f-4982-8f33-f70368c3bc04,credit#c6656bd1-f855-4ee7-8a8b-7ba62bb1543c,Requesting credit by balance
4,0.0057,client,INFO,0.001,0.0001,0.000060,7dfbb056-e03f-4909-b8aa-990ab6f68d6d,balance#8e3e4040-d790-4c0a-a029-0b7d5b6f7247,Requesting balance by client
5,0.0057,client,INFO,0.000,0.0000,0.000000,bd25ab54-6311-487d-8938-34fa87c33f3c,payment#b9d0ce6f-661a-4d55-896a-fd3e92a0a8d8,Requesting payment by client
6,0.0057,payment#b9d0ce6f-661a-4d55-896a-fd3e92a0a8d8,INFO,0.000,0.0000,0.000000,7b48195c-87aa-4698-a3e5-eb05aae10d23,balance#8e3e4040-d790-4c0a-a029-0b7d5b6f7247,Requesting balance by payment
7,0.0061,balance#8e3e4040-d790-4c0a-a029-0b7d5b6f7247,INFO,0.000,0.0000,0.000000,e752a245-e33d-4a34-ae7f-d3680489005f,credit#c6656bd1-f855-4ee7-8a8b-7ba62bb1543c,Requesting credit by balance
8,0.0126,client,INFO,0.001,0.0001,0.001719,a838a04a-491c-41d6-a826-dbd4558b411d,balance#8e3e4040-d790-4c0a-a029-0b7d5b6f7247,Requesting balance by client
9,0.0126,client,INFO,0.000,0.0000,0.000000,f6de33c2-3b15-4923-b7f6-5a599e32c6cb,payment#b9d0ce6f-661a-4d55-896a-fd3e92a0a8d8,Requesting payment by client

In [12]:
# Split dataframe into three dataframes based on Server
df = df.drop(["Transaction_ID","To_Server", "Message"], axis=1)
df.head(10)

,Time,Server,Message_type,CPU Usage,Memory Usage,Latency
0,0.0000,client,INFO,0.000,0.0000,0.000000
1,0.0000,client,INFO,0.000,0.0000,0.000000
2,0.0000,payment#b9d0ce6f-661a-4d55-896a-fd3e92a0a8d8,INFO,0.000,0.0000,0.000000
3,0.0010,balance#8e3e4040-d790-4c0a-a029-0b7d5b6f7247,INFO,0.000,0.0000,0.000000
4,0.0057,client,INFO,0.001,0.0001,0.000060
5,0.0057,client,INFO,0.000,0.0000,0.000000
6,0.0057,payment#b9d0ce6f-661a-4d55-896a-fd3e92a0a8d8,INFO,0.000,0.0000,0.000000
7,0.0061,balance#8e3e4040-d790-4c0a-a029-0b7d5b6f7247,INFO,0.000,0.0000,0.000000
8,0.0126,client,INFO,0.001,0.0001,0.001719
9,0.0126,client,INFO,0.000,0.0000,0.000000

In [13]:
# Reset index
df = df.reset_index()
df = df.drop(["index"], axis=1)
df.head(10)

,Time,Server,Message_type,CPU Usage,Memory Usage,Latency
0,0.0000,client,INFO,0.000,0.0000,0.000000
1,0.0000,client,INFO,0.000,0.0000,0.000000
2,0.0000,payment#b9d0ce6f-661a-4d55-896a-fd3e92a0a8d8,INFO,0.000,0.0000,0.000000
3,0.0010,balance#8e3e4040-d790-4c0a-a029-0b7d5b6f7247,INFO,0.000,0.0000,0.000000
4,0.0057,client,INFO,0.001,0.0001,0.000060
5,0.0057,client,INFO,0.000,0.0000,0.000000
6,0.0057,payment#b9d0ce6f-661a-4d55-896a-fd3e92a0a8d8,INFO,0.000,0.0000,0.000000
7,0.0061,balance#8e3e4040-d790-4c0a-a029-0b7d5b6f7247,INFO,0.000,0.0000,0.000000
8,0.0126,client,INFO,0.001,0.0001,0.001719
9,0.0126,client,INFO,0.000,0.0000,0.000000

In [14]:
# Convert Time from seconds to minutes and name the new time Time_floor
# df["Time"]=df["Time"].div(60)
df["Time_floor"] = np.floor(df["Time"]).astype("int")
df.head(10)

,Time,Server,Message_type,CPU Usage,Memory Usage,Latency,Time_floor
0,0.000000,client,INFO,0.000,0.0000,0.000000,0
1,0.000000,client,INFO,0.000,0.0000,0.000000,0
2,0.000000,payment#b9d0ce6f-661a-4d55-896a-fd3e92a0a8d8,INFO,0.000,0.0000,0.000000,0
3,0.000017,balance#8e3e4040-d790-4c0a-a029-0b7d5b6f7247,INFO,0.000,0.0000,0.000000,0
4,0.000095,client,INFO,0.001,0.0001,0.000060,0
5,0.000095,client,INFO,0.000,0.0000,0.000000,0
6,0.000095,payment#b9d0ce6f-661a-4d55-896a-fd3e92a0a8d8,INFO,0.000,0.0000,0.000000,0
7,0.000102,balance#8e3e4040-d790-4c0a-a029-0b7d5b6f7247,INFO,0.000,0.0000,0.000000,0
8,0.000210,client,INFO,0.001,0.0001,0.001719,0
9,0.000210,client,INFO,0.000,0.0000,0.000000,0

In [15]:
# Only select rows with Message_type equal to INFO
df_info = df.loc[df["Message_type"] == "INFO"]
df_info

,Time,Server,Message_type,CPU Usage,Memory Usage,Latency,Time_floor
0,0.000000,client,INFO,0.000,0.0000,0.000000,0
1,0.000000,client,INFO,0.000,0.0000,0.000000,0
2,0.000000,payment#b9d0ce6f-661a-4d55-896a-fd3e92a0a8d8,INFO,0.000,0.0000,0.000000,0
3,0.000017,balance#8e3e4040-d790-4c0a-a029-0b7d5b6f7247,INFO,0.000,0.0000,0.000000,0
4,0.000095,client,INFO,0.001,0.0001,0.000060,0
...,...,...,...,...,...,...,...
59245,1.666457,balance#8e3e4040-d790-4c0a-a029-0b7d5b6f7247,INFO,0.000,0.0000,0.000000,1
59246,1.666560,client,INFO,0.001,0.0001,0.001101,1
59247,1.666560,client,INFO,0.000,0.0000,0.000000,1
59248,1.666560,payment#b9d0ce6f-661a-4d55-896a-fd3e92a0a8d8,INFO,0.000,0.0000,0.000000,1
59249,1.666568,balance#8e3e4040-d790-4c0a-a029-0b7d5b6f7247,INFO,0.000,0.0000,0.000000,1

In [22]:
# Group rows by Server and Time_floor; drop obsolete Time column
df_grouped = df_info.groupby(["Server","Time_floor"], as_index=False).mean()
df_grouped = df_grouped.drop(["Time"], axis=1)
df_grouped

,Server,Time_floor,CPU Usage,Memory Usage,Latency
0,balance#8e3e4040-d790-4c0a-a029-0b7d5b6f7247,0,0.000000,0.000000e+00,0.000000e+00
1,balance#8e3e4040-d790-4c0a-a029-0b7d5b6f7247,1,0.000000,0.000000e+00,0.000000e+00
2,client,0,0.000495,4.952630e-05,4.956844e-04
3,client,1,0.000495,4.949107e-05,4.779628e-04
4,payment#b9d0ce6f-661a-4d55-896a-fd3e92a0a8d8,0,0.000003,2.728513e-07,2.141975e-06
5,payment#b9d0ce6f-661a-4d55-896a-fd3e92a0a8d8,1,0.000002,1.700102e-07,5.576743e-07

In [17]:
# Unpivot dataframe from wide format to long format
df_melt = pd.melt(df_grouped, id_vars = ["Server", "Time_floor"], 
                  value_vars = ["CPU Usage","Memory Usage", "Latency"], 
                  value_name = "Value")

In [21]:
# Sort dataframe by Server and Time_floor
df_melt = df_melt.sort_values(by=["Server", "Time_floor"])
df_melt

,Server,Time_floor,variable,Value
0,balance#8e3e4040-d790-4c0a-a029-0b7d5b6f7247,0,CPU Usage,0.000000e+00
6,balance#8e3e4040-d790-4c0a-a029-0b7d5b6f7247,0,Memory Usage,0.000000e+00
12,balance#8e3e4040-d790-4c0a-a029-0b7d5b6f7247,0,Latency,0.000000e+00
1,balance#8e3e4040-d790-4c0a-a029-0b7d5b6f7247,1,CPU Usage,0.000000e+00
7,balance#8e3e4040-d790-4c0a-a029-0b7d5b6f7247,1,Memory Usage,0.000000e+00
13,balance#8e3e4040-d790-4c0a-a029-0b7d5b6f7247,1,Latency,0.000000e+00
2,client,0,CPU Usage,4.952630e-04
8,client,0,Memory Usage,4.952630e-05
14,client,0,Latency,4.956844e-04
3,client,1,CPU Usage,4.949107e-04
9,client,1,Memory Usage,4.949107e-05
15,client,1,Latency,4.779628e-04
4,payment#b9d0ce6f-661a-4d55-896a-fd3e92a0a8d8,0,CPU Usage,2.728513e-06
10,payment#b9d0ce6f-661a-4d55-896a-fd3e92a0a8d8,0,Memory Usage,2.728513e-07
16,payment#b9d0ce6f-661a-4d55-896a-fd3e92a0a8d8,0,Latency,2.141975e-06
5,payment#b9d0ce6f-661a-4d55-896a-fd3e92a0a8d8,1,CPU Usage,1.700102e-06
11,payment#b9d0ce6f-661a-4d55-896a-fd3e92a0a8d8,1,Memory Usage,1.700102e-07
17,payment#b9d0ce6f-661a-4d55-896a-fd3e92a0a8d8,1,Latency,5.576743e-07

In [19]:
df_melt.tail(10)

,Server,Time_floor,variable,Value
14,client,0,Latency,4.956844e-04
3,client,1,CPU Usage,4.949107e-04
9,client,1,Memory Usage,4.949107e-05
15,client,1,Latency,4.779628e-04
4,payment#b9d0ce6f-661a-4d55-896a-fd3e92a0a8d8,0,CPU Usage,2.728513e-06
10,payment#b9d0ce6f-661a-4d55-896a-fd3e92a0a8d8,0,Memory Usage,2.728513e-07
16,payment#b9d0ce6f-661a-4d55-896a-fd3e92a0a8d8,0,Latency,2.141975e-06
5,payment#b9d0ce6f-661a-4d55-896a-fd3e92a0a8d8,1,CPU Usage,1.700102e-06
11,payment#b9d0ce6f-661a-4d55-896a-fd3e92a0a8d8,1,Memory Usage,1.700102e-07
17,payment#b9d0ce6f-661a-4d55-896a-fd3e92a0a8d8,1,Latency,5.576743e-07

In [64]:
# Save dataframe to new files
df_melt.to_csv("Manual_Log_Filtered_New.csv")
df_melt.to_excel("Manual_Log_Filtered_New.xlsx")