In [36]:
import pandas as pd
import numpy as np
import openpyxl

In [37]:
df = pd.read_csv("Manual_Log.csv", sep = ";", error_bad_lines=False)
df

,Time,Server,Message_type,CPU Usage,Memory Usage,Transaction_ID,To_Server,Message
0,0.464447623,Client,INFO,0.000,0.000,1,A,Request from customer Transaction ID: 1
1,0.75912351,Client,INFO,0.000,0.000,2,A,Request from customer Transaction ID: 2
2,1.302.570.232,A,INFO,0.026,0.896,1,B,Send Authentication request to server B Transa...
3,1.613.766.033,A,INFO,0.031,0.151,2,B,Send Authentication request to server B Transa...
4,3.144.929.724,Client,INFO,0.000,0.000,3,A,Request from customer Transaction ID: 3
...,...,...,...,...,...,...,...,...
59995,493.441.225,A,INFO,0.173,0.184,10000,Client,Balance to client to server Client Transaction...
59996,493.457.747,A,INFO,0.834,0.711,9999,Client,Balance to client to server Client Transaction...
59997,4.935.139.377,A,INFO,0.179,0.111,9998,C,Request Balance to server C Transaction ID: 99...
59998,4.935.654.579,C,INFO,0.371,0.412,9998,A,Return Balance to server A Transaction ID: 999...
59999,4.935.661.588,A,INFO,0.733,0.980,9998,Client,Balance to client to server Client Transaction...

In [38]:
# Split dataframe into three dataframes based on Server
df = df.drop(["Transaction_ID","To_Server", "Message"], axis=1)
df.head(10)

                Time  Server Message_type  CPU Usage  Memory Usage
0        0.464447623  Client         INFO      0.000         0.000
1         0.75912351  Client         INFO      0.000         0.000
2      1.302.570.232       A         INFO      0.026         0.896
3      1.613.766.033       A         INFO      0.031         0.151
4      3.144.929.724  Client         INFO      0.000         0.000
...              ...     ...          ...        ...           ...
59995    493.441.225       A         INFO      0.173         0.184
59996    493.457.747       A         INFO      0.834         0.711
59997  4.935.139.377       A         INFO      0.179         0.111
59998  4.935.654.579       C         INFO      0.371         0.412
59999  4.935.661.588       A         INFO      0.733         0.980

[60000 rows x 5 columns]

In [31]:
# Reset index
df = df.reset_index()
df = df.drop(["index"], axis=1)
df.head(10)

               Time  Server Message_type  CPU Usage  Memory Usage
0          0.464448  Client         INFO      0.000         0.000
1          0.759124  Client         INFO      0.000         0.000
2          1.302570       A         INFO      0.026         0.896
3          1.613766       A         INFO      0.031         0.151
4          3.144930  Client         INFO      0.000         0.000
...             ...     ...          ...        ...           ...
59995  49344.122500       A         INFO      0.173         0.184
59996  49345.774700       A         INFO      0.834         0.711
59997  49351.393770       A         INFO      0.179         0.111
59998  49356.545790       C         INFO      0.371         0.412
59999  49356.615880       A         INFO      0.733         0.980

[60000 rows x 5 columns]

In [32]:
# Convert Time from seconds to minutes and name the new time Time_floor
df["Time"]=df["Time"].div(60)
df["Time_floor"] = np.floor(df["Time"]).astype("int")
df.head(10)

             Time Server Message_type  CPU Usage  Memory Usage  Time_floor
59995  822.402042      A         INFO      0.173         0.184         822
59996  822.429578      A         INFO      0.834         0.711         822
59997  822.523230      A         INFO      0.179         0.111         822
59998  822.609096      C         INFO      0.371         0.412         822
59999  822.610265      A         INFO      0.733         0.980         822

In [33]:
# Only select rows with Message_type equal to INFO
df_info = df.loc[df["Message_type"] == "INFO"]
df_info.head(10)

             Time  Server Message_type  CPU Usage  Memory Usage  Time_floor
0        0.007741  Client         INFO      0.000         0.000           0
1        0.012652  Client         INFO      0.000         0.000           0
2        0.021710       A         INFO      0.026         0.896           0
3        0.026896       A         INFO      0.031         0.151           0
4        0.052415  Client         INFO      0.000         0.000           0
...           ...     ...          ...        ...           ...         ...
59995  822.402042       A         INFO      0.173         0.184         822
59996  822.429578       A         INFO      0.834         0.711         822
59997  822.523230       A         INFO      0.179         0.111         822
59998  822.609096       C         INFO      0.371         0.412         822
59999  822.610265       A         INFO      0.733         0.980         822

[60000 rows x 6 columns]

In [34]:
# Group rows by Server and Time_floor; drop obsolete Time column
df_grouped = df_info.groupby(["Server","Time_floor"], as_index=False).mean()
df_grouped = df_grouped.drop(["Time"], axis=1)
df_grouped.head(10)

      Server  Time_floor  CPU Usage  Memory Usage
0          A           0   0.454487      0.493897
1          A           1   0.486537      0.424683
2          A           2   0.537163      0.434209
3          A           3   0.520069      0.497034
4          A           4   0.458788      0.495404
...      ...         ...        ...           ...
3287  Client         818   0.000000      0.000000
3288  Client         819   0.000000      0.000000
3289  Client         820   0.000000      0.000000
3290  Client         821   0.000000      0.000000
3291  Client         822   0.000000      0.000000

[3292 rows x 4 columns]

In [12]:
# Unpivot dataframe from wide format to long format
df_melt = pd.melt(df_grouped, id_vars = ["Server", "Time_floor"], 
                  value_vars = ["CPU Usage","Memory Usage"], 
                  value_name = "Value")

In [13]:
# Sort dataframe by Server and Time_floor
df_melt = df_melt.sort_values(by=["Server", "Time_floor"])
df_melt.head(10)

In [16]:
# Save dataframe to new files
df_melt.to_csv("Manual_Log_Filtered_New.csv")
df_melt.to_excel("Manual_Log_Filtered_New.xlsx")